<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cimplicity" type="JLR.CFM.DCP.Import.CimpConfig, DCP Import" />
  </configSections>

  <cimplicity project="SCADA_KJR" path="D:\Projects\" username="SYSTEM" password="Red123Red!">
    <database DSN="DSN_SCADA_LOCAL" uid="sa" pwd="red123"/>
    
    <params>
      <add id="CE_MAX_THREADS" value="99"/>
      <add id="UR_MIN_PWD_NEN" value="0"/>
      <add id="UR_PWD_CASE" value="N"/>
      <add id="UR_PWD_COMPLEXITY_RULE" value="N"/>
      <add id="UR_REQUIRE_SPECIAL_CHAR" value="N"/>
    </params>
    
    <classes>
      <class id="SCADA_DCP_BIW" plctag="zzZon">
        <attributes>
          <add id="SA" value ="SA01"/>
          <add id="Zone" value ="ZONE01"/>
        </attributes>
      </class>

      <class id="SCADA_DCP_RBT" plctag="zzZon">
        <attributes>
          <add id="Dept" value ="Underbody"/>
          <add id="Plant" value ="BIW"/>
        </attributes>
      </class>

      <class id="SCADA_DCP_SAF" plctag="zzZon">
        <attributes>
          <add id="Dept" value ="Underbody"/>
          <add id="Plant" value ="BIW"/>
        </attributes>
      </class>

      <class id="SCADA_DCP_SEQ" plctag="zzZon">
        <attributes>
          <add id="Dept" value ="Underbody"/>
          <add id="Plant" value ="BIW"/>
        </attributes>
      </class>

      <class id="SCADA_DCP_TRM" plctag="zzZon">
        <attributes>
          <add id="Dept" value ="Underbody"/>
          <add id="Plant" value ="BIW"/>
        </attributes>
      </class>

      <class id="SCADA_DCP_ZON" plctag="zzZon">
        <attributes>
          <add id="Dept" value ="Underbody"/>
          <add id="Plant" value ="BIW"/>
        </attributes>
      </class>
    
    </classes>
  </cimplicity>

</configuration>
